body {
}

#paste-input {
    resize: none;
    min-height: 10em;
    max-height: 75vh;
    overflow-wrap: break-word;
    outline: none;
    border-color: var(--bs-light);
    box-shadow: none;
}

#paste-content {
    overflow: auto;
    overflow-wrap: normal;
    white-space: pre;
    min-height: 10em;
    outline: none;
    border-color: var(--bs-light);
    box-shadow: none;
}

.locked {
    background-image: url("/lock.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 128px;
}