@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">Error @(Model.ErrorStatusCode ?? "")</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowOriginalURL) {
    <p>
        <strong>Original URL:</strong> <code>@Model.OriginalURL</code>
    </p>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
