@page
@model IndexModel
@{
    ViewData["Title"] = null;
}

<form>
    <div class="row">

        <div class="col-sm-8">
            <textarea id="paste-input" class="form-control" placeholder="<your code />" style="resize: none; height: 10em;"></textarea>
        </div>

        <div class="col-sm-4">
            <p>Test2</p>
        </div>
    </div>
</form>

<script src="~/js/index.js" type="text/javascript"></script>