@page
@model IndexModel
@{
    ViewData["Title"] = null;
}

<form>
    <div class="row">

        <div class="col-sm-8">
            <textarea id="paste-input" class="form-control bg-dark text-light font-monospace"
                      placeholder="<code> ... </code>" wrap="soft"
                      onkeydown="autosize()" onkeypress="autosize()" onkeyup="autosize()"></textarea>
        </div>

        <div class="col-sm-4">
            <p>paste options go here</p>
        </div>
    </div>
</form>

<script src="~/js/index.js" type="text/javascript"></script>